html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Barlow Semi Condensed';
    font-size: 18px;
    line-height: 1.5;
    color: black;
}
.landing-header h1{
    font-size: 50px;
    font-family: 'Montserrat';
    font-weight: 600;
}
.home-page{
    background-color: #eee2df;
    padding-left: 20px;
    padding-right:20px;
}

.sexism-page{
    padding-left: 20px;
    padding-right:20px;
    background-color: #eee2df;
}

.racism-page{
    padding-left: 20px;
    padding-right:20px;
    background-color: #eee2df;
}

.election-page{
    padding-left: 20px;
    padding-right:20px;
    background-color: #eee2df;
}

.gallery-page{
    padding-left: 20px;
    padding-right:20px;
    background-color: #eee2df;
}

footer {
    grid-column: 1 / -1;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}
.footer-grid{
    display:grid;
}

footer p{
    color: black;
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position:absolute;
    top: -40px;
}

.skip a:focus{
    top: 0px;
    color: black;
    text-decoration-style: solid;
}

h1{
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    padding-top: 10px;
    
}

.landing-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.5;
}
.nav{
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}
.nav_item a{
    color: black;
    text-decoration: none;
  }
  
.nav_item a:hover, a:focus{
    color: #c89f9c;
    transition: color 0.4s ease 0s;
}

.current{
    border: 2px solid #c89f9c;
  }

h2{
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.first{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}
.second{
    padding-top: 10px;
    padding-bottom:10px;
    border-bottom: 2px solid black;
}

.third{
    padding-top: 10px;
    padding-bottom:10px;
    border-bottom: 2px solid black;
}

p{
    text-align: center;
}
.gallery-home{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: space-around;
}

.gallery{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-top: 10px;
    grid-column-gap: 10px;
    overflow: hidden;
    border-bottom: 2px solid black;
  }

#image1, #image2, #image3{
    width: 280px;
    height:270px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9{
    width: 280px;
    height:270px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.gallery img:hover{
      opacity: 50%;
  }

.gallery-home img:hover{
    opacity: 50%;
} 
  
.gallery div{
    overflow: hidden;
}

.gallery-home div{
    overflow:hidden;
}
  
.gallery>img{
    max-width: 400px;
    justify-self: center;
    padding: 10px;
  }

.gallery-home>img{
    width: 400px;
    height: 400px;
    justify-self: center;
    padding: 10px;
  }

.inquiries{
    font-size: 20px;
}
input[type = "text"]{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #3d405b;
    background-color: white;
}

input[type = "email"]{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #3d405b;
    background-color: white;
}


input[type = "submit"]{
    padding: 8px 16px;
    font-family: "Barlow Semi Condensed";
    font-size: 16px;
    margin: 20px 1px;
    text-align: left;
    border: 2px;
    background-color: #3d405b;
    color: white;
    -webkit-animation-name: form; 
    -webkit-animation-duration: 4s;
    animation-name: form;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes form{
    0% {background-color:#3d405b;}
    33% {background-color:#EB6D80;}
    66% {background-color:#3d405b ;}
    100% {background-color:#EB6D80;}

}

fieldset{
    text-align: left;
    line-height: 2;
    margin: 10px 30px;
    font-size: 20px;
    border-bottom: 2px solid black;
  }

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .gallery-home{
        display: flex;
        flex-wrap:wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    #image1, #image2, #image3{
        width: 300px;
        height:290px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

    .gallery{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        padding-top: 10px;
        grid-column-gap: 10px;
        overflow: hidden;
}

.gallery>img{
        max-width: 400px;
        justify-self: space-between;
        padding: 10px;
}

.nav_item{
        display: inline-block;
        padding: 10px;
        margin-top: 10px;
        font-size: 18px;
}

/* For the first section on each page */
.first{
    margin-right: 50px;
    margin-left:50px;
}
.first-text h2{
    font-size: 23px;
}
.first-text p{
    font-size: 20px;
    padding-bottom: 10px;
}

/* For the second section on each page */
.second{
    margin-right: 50px;
    margin-left:50px;
}
.second-text h2{
    font-size: 23px;
}
.second-text p{
    font-size: 20px;
    padding-bottom: 10px;
}

/* For the third section on each page */
.third{
    margin-right: 50px;
    margin-left:50px;
}
.third-text h2{
    font-size: 23px;
}
.third-text p{
    font-size: 20px;
    padding-bottom: 10px;
}

}
/* Desktop */
@media screen and (min-width:1024px){
.gallery{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding-top: 10px;
        grid-column-gap: 10px;
        overflow: hidden;
}

.gallery>img{
        max-width: 400px;
        justify-self: space-between;
        padding: 10px;
}

.landing-header{
    flex-direction: column;
    align-content:center;
    text-align:center;
}
.nav_item{
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    font-size: 25px;
}

#image1, #image2, #image3{
    width: 400px;
    height:390px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

/* For the first section on each page */
.first{
    margin-right: 50px;
    margin-left:50px;
}
.first-text h2{
    font-size: 25px;
}
.first-text p{
    font-size: 20px;
    padding-bottom: 10px;
}
/* For the second section on each page */
.second{
    margin-right: 50px;
    margin-left:50px;
}
.second-text h2{
    font-size: 25px;
}
.second-text p{
    font-size: 20px;
    padding-bottom: 10px;
}
/* For the third section on each page */
.third{
    margin-right: 50px;
    margin-left:50px;
}
.third-text h2{
    font-size: 25px;
}
.third-text p{
    font-size: 20px;
    padding-bottom: 10px;
}

.introduction{
    font-size: 20px;
}
}

@media (prefers-reduced-motion: reduce){
    input[type = "submit"]{
        animation: none !important;
        color: white;

      }
      .skip a{
        -webkit-transition: none;
        transition: none;
      }

  }

